body {
    align-content: center;
}

#mainContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7,1);
    background-color: rgb(52, 209, 209);
}

.grid-item-result {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: auto;
    align-self: auto;
}

.grid-item-pl

#mainContainer > button {
    text-align: center;
}


h1 {
    color: lightcoral;
}

button {
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}