body {
    display: grid;
    align-content: center;
}

#mainContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(52, 209, 209);
}

#mainContainer > button {
    text-align: center;
}

.grid-item-result {
    grid-column-start: 1;
    grid-column-end: 9;
}

.grid-item-first > button {
    color:blue;
}


h1 {
    color: lightcoral;
}

button {
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.result-row button {
    grid-column-start: 1;
    width: 15rem;
}